
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<!-- Background & animion & navbar & title -->
<div class="container-fluid">
    <!-- Background animtion-->
    <div class="background">
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <!-- header -->
    <header>
        <!-- navbar -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>

                <li><a href="#">Contact</a></li>
                <li><a href="http://localhost:4200/login"  >Login</a></li>
                <li><a href="http://localhost:4200/register">Register</a></li>
            </ul>
        </nav>
        <!-- logo -->
        <div class="logo"><span>LLOYD</span></div>
        <!-- title & content -->
        <section class="header-content">
            <h1>Welcome</h1>
            <p> Welcome to our Website. <br> making high quality assurance offers to make your life easier.</p>
            <button>Know more</button>
            <button>Meet us</button>
        </section>
    </header>























    <router-outlet>
    </router-outlet>
